# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:password@host.docker.internal:5432/sample?schema=public"

#DATABASE_URL="file:./dev.db"
CLIENT_ID=REP_OIDC_CLIENT_ID
ORIGIN=REP_ORIGIN
TOKEN_ENDPOINT=REP_TOKEN_ENDPOINT
